<li>
    {{this.dataValues.name}} (For {{this.buyer.name}})

    {{!-- <button class="change-devoured btn btn-outline-success" data-id="{{this.dataValues.id}}" data-newdevoured="{{hungry}}">
        {{#if hungry}}DEVOUR{{else}}ORDER AGAIN{{/if}}
    </button> --}}

    <button class="delete-burger btn btn-danger" data-id="{{this.dataValues.id}}">DELETE!</button>

</li>